/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

/* div vs div home? */
/* are menu and category 1 both h2? or h2 and h3? */
/* so am i supposed to then add h4 in CSS to add margins for menu products? */
/* need padding around images at top */
/* why is my contact page all fucked up> */

div.container { 
	position: relative;
	min-height: 100vh;
}

/* how to I add margin to images? */

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */


main { 
	padding: 1em .5em 20em;
}

	/* why main vs/body? */
img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 5fr .5fr;
	background: #CCCCCC;
	padding: 1em .5em;
}

body {  
		font-family: sans-serif;  
}  

h1 {
	width: 12em;
}

h2, h3, h4 {
		font-weight: bold;
}

h2 {
	font-size: 2em;
	margin: 1.5em .7em .5em;
}
	
h3 {
	font-size: 1.5em;
	margin: 1.5em 1em .5em;
}

h4 {
	margin: 0em, 1em, 0em, 1em;
}


a {
	text-decoration: none;
}

	/* why a */
nav ul  {
	text-align: right;
}
	
ul li 	{
	list-style-type: none;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

figure {
	margin-bottom: 2em; 
	/* how much space is between image and something beneath */
}

main.menu ul {
		margin: 2em .5em; 
		/* idk nothing is happening  */
}	

main.menu ul li {
		margin: 2em .5em 1em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

/* dont get nothing is happening  */

p {
	margin: 1em 1.5em 2em;
}
	/* the 2em for the bottom made spacing different for different paragraphs not lines */
	/* how do i get rid of the extra space in the about or make the lines more space */
p.description {
	grid-column: 1/2;
	margin: 1em;

}
	
	/* dont get grid colum/grid row */
p.price {
	grid-row: 1;
	grid-column: 2/2;
	color: rgb(255,0,0);
	text-align: right;
	margin: 0em;
}
/* why is price below not above? */

	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1.5em;
}
	
nav ul li a {
	color: rgb(255,247,0);
	background-color:rgb(0, 60, 199);
	padding: .5em .5em .5em;
}
	

p.slogan {
	font-size: 4em;
	font-family: sans-serif;
	font-style: italic;
	margin: 1em .5em 1em;
	color: rgb(255,255,255);	
}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em .5em;
  background: rgb(255, 247, 0);
}

address {
	color: rgb(255, 162, 0);
	}
/* needs to be indentened  */
footer p {
	margin: 0;
}

